.title {
    font-size: 20pt;
    margin-bottom: 15px;
    margin-top: 5%;
    font-family: "Virgil";
    /* max-width: 95vw; */
}

.App {
    font-family: Virgil, sans-serif;
    text-align: center;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
}

.App.dark {
    background: #000;
    color: #fff;
    transition: 0.3s all;
}

.App.light {
    background: #FFF6DC;
    color: #000;
    transition: 0.3s all;
}

/* .App p {
    font-size: 24pt;
} */

body {
    padding: 0;
    margin: 0;
}

svg {
    display: inline-block;
}

.invisible {
    display: none;
}

.App.dark thead {
    background-color: var(--tscolor);
}

.App.light thead {
    background-color: #0A6EBD;

}

.App.dark tbody {
    background-color: var(--tsdark);

}

.App.light tbody {
    background-color: #A1C2F1;
}
