#main-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.title {
    font-size: 20pt;
    margin-bottom: 15px;
    margin-top: 5%;
    font-family: "Virgil";
    /* max-width: 95vw; */
}

.App {
    font-family: Virgil, sans-serif;
    text-align: center;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
}

.App.dark {
    background: #000;
    color: #fff;
    transition: 0.3s all;
}

.App.light {
    background: #FFF6DC;
    color: #000;
    transition: 0.3s all;
}

.App p {
    font-size: 24pt;
}

body {
    padding: 0;
    margin: 0;
}

svg {
    display: inline-block;
}

.invisible {
    display: none;
}
