footer {
    background-color: #222;
    color: #fff;
    /* padding: 20px; */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-family: Virgil, sans-serif;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcons {
    color: #3178c6 !important;
    transition:
        /* color 0.3s ease-in-out, */
        filter drop-shadow 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

.footerIcons:hover {
    /* color: var(--accent) !important; */
    /* drop-shadow: 0 0 5px #fff; */
    filter: drop-shadow(0 0 1px #fff);
    transform: scale(1.1);
}
