@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Virgil';
    src: url('../assets/fonts/Virgil/Virgil.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla/Karla-VariableFont_wght.ttf');
    /* Several font weights can be included in one file */
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "Virgil", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    height: 100%;
    width: 100%;

    --background: #f2f2f2;
    --text-primary: #0f0f0f;
    --text-secondary: #4e4e4e;
    --accent: #dfb017;
    --accent-hover: #cea315;
    --border: #1f1e1e;
    --shadow: 7px 15px 13px -4px #00000056;
    --tscolor: #3178c6;
    --tsbg: #f1f5f9;
    --tsborder: #cdd7e0;
    --tsborderhover: #b8c2cc;
    --tsborderfocus: #9fb0bf;
    --tsbordererror: #e53e3e;
    --tsbordererrorhover: #c53030;
    --tsdark: #1f2937;
    --footer: #222;
    --footer-font: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    cursor: default;
    user-select: none;
}

#root {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: calc(100vw - (100vw - 100%));
    height: 100%;
    min-height: 100vh;
    /* display: flex; */
}

#root * {
    box-sizing: border-box;
}

#root>div {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    /* display: flex; */
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: default;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
}


button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.3s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: 1.6em;
    left: 110%;
    padding: 4px 4px 4px 8px;
    color: var(--tsdark);
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color: var(--accent);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    font-size: 0.8em;
    font-weight: 800;
    border: 1px solid var(--border);
    font-family: Karla;
}

[data-title] {
    position: relative;
}
