.App.dark thead {
    background-color: var(--tscolor);
}

.App.light thead {
    background-color: #0A6EBD;

}

.App.dark tbody {
    background-color: var(--tsdark);

}

.App.light tbody {
    background-color: #A1C2F1;
}

.id-column {
    width: 8%;
}

td.user-thumbnail img {
    border-radius: 50%;
}

td.user-thumbnail {
    width: 100px;
    height: 50px;
}

#table-users {
    width: 80%;
    table-layout: auto;
    border-collapse: collapse;
    border: 1px solid var(--border);
    /* overflow: hidden; */
    font-family: 'Karla', 'Virgil', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    margin-bottom: 50px;
    /* transition: 0.3s all; */
}

#table-users td {
    padding: 3px;
    border: 1px solid var(--border);
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

#table-users:last-child,
#table-users>thead>tr {
    border-bottom: 2px solid var(--border);
}

#table-users>thead>tr {
    border-top: 2px solid var(--border);
}

#table-users>tbody>tr:hover {
    background-color: var(--accent-hover);
    color: var(--text-primary);
}

#table-users>tbody>tr>td {
    text-align: center;
}

.table-buttons {
    gap: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.table-buttons>button {
    border: 2px solid #3178c6;
    background-color: #3178c688;
    font-family: Karla, Virgil, sans-serif;
}

.table-buttons>button:hover {
    border: 2px solid var(--accent);
    background-color: #dfb01788;
}

thead th {
    font-weight: bold;
    padding: 0.8rem;
    border: 1px solid var(--border);
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delete-button {
    border: 2px solid var(--border);
    width: 50px;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    background-color: #D21312;
    /* display: flex;
    align-content: center; */
}

.delete-button:hover {
    border: 2px solid var(--border);
    background-color: #F94C10;
}

/* .trash-icon {
    width: 20px;
    height: 20px;
} */
